<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSTerminalSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55099/WebService/WSTerminal.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSTerminalSoap"
                contract="WSTerminalRef.WSTerminalSoap" name="WSTerminalSoap" />
        </client>
    </system.serviceModel>
</configuration>